html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body.home {
  font-family: 'Optima', sans-serif;
  background-image: url('http://vignette1.wikia.nocookie.net/prydain/images/7/7f/Mountains.jpg/revision/latest?cb=20130328022425');
  background-blend-mode: lighten;
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.page-title {
  text-align: center;
  font-weight: 100;
}

.page-description {
  margin: 1px;
  text-align: left;
  padding: 90px;
  font-size: 15px;
  color: white;
  font-weight: 100;

}

p.main {
	font-size: 12px;
	display: inline;
	padding: 20px;
}

div.box {
  padding: 5px;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.85;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.box p {
  margin: 5%;
  color: #000000;
}

p.bottom {
	font-size: 12px;
	color: #FFFFFF;
}
